@import '../../../assets/scss/variables.scss';
.cart{
	box-sizing: border-box;
	width: 295px;
	border: 1px solid $border-color-light;
	padding: 19px 19px 24px;
	.cart-product{
		display: block;
		margin-bottom: 36px;
		&:last-child{
			margin-bottom: 0;
		}
	}
}
