@import '../../../assets/scss/variables.scss';
.header{
	background-color: #F6F6F7;
	color: #222;
	height: 30px;
	.container{
		position: relative;
	}
	.cart-text{
		padding: 10px;
		display: inline-block;
		float: right;
		margin-left: auto;
		cursor: pointer;
    	font-size: 12px;
    	z-index: 101;
	    position: absolute;
	    right: 0;
    	color: $text-color;
    	&.active{
    		border-top: 1px solid $border-color-light;
    		border-left: 1px solid $border-color-light;
    		border-right: 1px solid $border-color-light;
    		background-color: #fff;
    		height: 31px;
    	}
	}
	.cart-container{
		background-color: #fff;
		position: absolute;
		right: 0;
		top: 30px;
	}
}
